<mat-toolbar color="primary">
    <a 
    [routerLink]="'/'" 
    mat-icon-button 
    class="example-icon" 
    arial-label="Example icon-button with menu icon">
        <mat-icon>menu_books</mat-icon>
    </a>
    <span>Portal de exámenes</span>
    <span class="example-spacer"></span>
    <a 
        *ngIf = "!isLoggedIn"
        [routerLink]="'/login'" mat-button class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon">
        Iniciar sesión
    </a>
    <a 
        *ngIf = "!isLoggedIn"
        [routerLink]="'/signup'" mat-button class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon">
        Registrar
    </a>

    <a 
        *ngIf = "isLoggedIn"
        (click)="logout()" 
        mat-button class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon">
        Cerrar sesión
    </a>
    <button
        *ngIf = "isLoggedIn && user"
        class="example-icon"
        mat-button 
        class="example-icon favorite-icon">
        {{ user.username }}
    </button>
</mat-toolbar>