<mat-card class="mt20">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <mat-card-header>
                    <mat-card-title>
                        Bienvenido administrador
                    </mat-card-title>
                    <mat-card-subtitle>
                        Panel del administrador
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content class="ml30">
                    <h1></h1>
                    <p></p>
                    <mat-divider></mat-divider><br>
                    <h1>Funciones disponibles</h1>
                    <ul>
                        <li>Gestionar categorías</li>
                        <li>Gestionar exámenes</li>
                        <li>Asignar exámenes a distintas categorías</li>
                        <li>Gestionar preguntas</li>
                        <li>Asignar preguntas a cada examen</li>
                    </ul>
                    <mat-divider></mat-divider>
                    <br>
                </mat-card-content>
            </div>
        </div>
    </div>
</mat-card>
